body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
}

.profile-container {
    width: 80%;
    margin: 20px auto;
    margin-top: 125px;
    margin-bottom: 175px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personal-info,
.appointment-history {
    margin-bottom: 30px;
}

.personal-info h2,
.appointment-history h2 {
    color: #333;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 10px;
}

.appointment-history ul {
    list-style-type: none;
    padding: 0;
}

.appointment-futur {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid #5cb85c;
}

.appointment-past {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid #ff0000;
}
