{# templates/accueil/accueil.html.twig #}

{% extends 'base.html.twig' %}

    {% block title %}
        {{parent()}}
    {% endblock %}

    {% block content %}
        <body>
            <div class="container">
                <h1>Bienvenue au Cabinet de Kinésithérapie Kiné Lib</h1>
                <p><strong>Votre bien-être, notre priorité.</strong></p>

                <p>Au cœur de Montpellier, le Cabinet de Kinésithérapie Kiné Lib vous accueille dans un espace dédié à la santé et au bien-être. Fondé par DURAND Luc, kinésithérapeute diplômé et passionné, notre cabinet se consacre à la prise en charge personnalisée de chaque patient pour offrir les meilleurs soins possibles.</p>

                <h2>Nos Engagements</h2>
                <ul>
                    <li><strong>Approche Personnalisée :</strong> Chaque patient bénéficie d'une attention particulière et d'un plan de traitement adapté à ses besoins spécifiques.</li>
                    <li><strong>Techniques Avancées :</strong> Nous utilisons des méthodes de traitement à la pointe de la technologie pour assurer une récupération optimale.</li>
                    <li><strong>Environnement Apaisant :</strong> Notre cabinet est conçu pour vous offrir un environnement calme et relaxant, propice à votre guérison et à votre bien-être.</li>
                </ul>

                <h2>Nos Services</h2>
                <ul>
                    <li>Rééducation fonctionnelle et musculaire</li>
                    <li>Thérapie manuelle</li>
                    <li>Réhabilitation après blessure ou opération</li>
                    <li>Prévention et conseils en ergonomie</li>
                    <li>Programmes de renforcement et de mobilité</li>
                </ul>

                <h2>Pourquoi Nous Choisir ?</h2>
                <ul>
                    <li><strong>Expertise Professionnelle :</strong> Notre équipe est composée de kinésithérapeutes expérimentés et continuellement formés aux dernières avancées dans leur domaine.</li>
                    <li><strong>Soins Individualisés :</strong> Nous croyons que chaque patient est unique et mérite une approche sur mesure.</li>
                    <li><strong>Cadre Chaleureux :</strong> Nous veillons à ce que votre expérience chez nous soit aussi confortable et positive que possible.</li>
                </ul>

                <p>Nous sommes fiers de contribuer à la santé et au bien-être de notre communauté et nous nous engageons à vous offrir des soins de la plus haute qualité.</p>

                <p><strong><a class="text-black" href="/priserendezvous">Prenez Rendez-Vous Aujourd'hui</a></strong> pour commencer votre chemin vers une meilleure santé et un bien-être accru.</p>

                <p><em>Au Cabinet de Kinésithérapie Kiné Lib, nous sommes dédiés à votre récupération et à votre bien-être durable.</em></p>
            </div>
        </body>
    {% endblock %}
